<style type="text/css">
	span { color: red; }
</style>

<form method="post" action="/signup">
	<legend>Signup page</legend>

	<label>
		Username:
		<input name="username" value="{{ username }}">
	</label>
	<span>{{ username_error }}</span>
	<br>
	<label>
		Password:
		<input name="password" type="password">
	</label>
	<span>{{ password_error }}</span>
	<br>
	<label>
		Verify:
		<input name="verify" type="password">
	</label>
	<span>{{ verify_error }}</span>
	<br>
	<label>
		Email:
		<input name="email" value="{{ email }}">
	</label>
	<span>{{ email_error }}</span>
	<br>
	<input type="submit">
</form>
